@model AdvertListViewModel

@{
    List<AdvertViewModel> adverts = Model.Adverts;
}

<div class="row " style="margin-top:100px;">
    @foreach (var advert in adverts)
    {
        <div class="col-6">
            <div class="card card-nav-tabs text-center">
                <div class="card-header card-header-primary">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img src="~/images/@advert.Image.Url" class="img-fluid h-100 w-100" >
                        </div>
                        <div class="col-8">
                            <h4 class="card-title pt-4">
                                @advert.FirstName @advert.LastName
                            </h4>

                            <h4 class="card-title pt-3">
                                @advert.BranchName
                            </h4>
                            <p class="card-text pt-4">@advert.Description</p>
                            <form class="pt-2">
                                <a asp-area=""
                                   asp-controller="Home"
                                   asp-action="AdvertDetails"
                                   asp-route-url="@advert.Url"
                                   type="submit" class="btn btn-outline-warning ">İncele</a>
                            </form>
                        </div>
                    </div>
                   
                </div>
                <div class="card-footer text-muted">
                   İlan Oluşturma Tarihi: @advert.UpdatedDate
                </div>
            </div>

        </div>
    }


</div>
